@{
    ViewData["Title"] = "Support & Feedback";
}
<h1 class="montserrat-font font-weight-bold">@ViewData["Title"]</h1>

<br/>
<p class="montserrat-font">If you need any help with FastML feel free to 
    <a href="mailto:msmanakhova@edu.hse.ru">contact a developer</a> :)</p>