@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextAccessor
@{
    ViewData["Title"] = "Home";
}

<body class="index-background">
<div class="text-center centered-index">
    <div>
        <h1 class="montserrat-font">Fast <span class="magenta">ML</span></h1>
    </div>
    <div>
        <p class="montserrat-font" style="font-size: 24px">a simple solution for building Machine Learning models</p>
    </div>
    <div>
        <a class="btn btn-primary montserrat-font round-border" asp-controller="Home" asp-action="GetStarted">Get started</a>
    </div>
</div>
</body>


