@{
    ViewData["Title"] = "Policy";
}
<h1 class="montserrat-font font-weight-bold">@ViewData["Title"]</h1>

<br/>
<p class="montserrat-font">System was developed for <b>non-commercial use.</b></p>
<p class="montserrat-font">
    <a href="https://scikit-learn.org/stable/" target="_blank">Scikit-learn</a>,
    <a href="https://catboost.ai/" target="_blank">CatBoost</a> and
    <a href="https://pandas.pydata.org/" target="_blank">Pandas</a> libraries are used.
</p>
